html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: 'Roboto', sans-serif; /* Police moderne */
    background-color: #f4f7f6; /* Couleur de fond légère */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles de la barre de navigation */
.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-width: 80%;
    margin: 20px auto; /* Centrer la navbar */
    padding: 10px; /* Ajout de padding */
}

.navbar-brand {
    color: #007bff;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
    color: #343a40;
    padding: 10px 15px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
}

    .navbar-nav .nav-item .nav-link:hover {
        background-color: #e2e6ea;
        color: #007bff;
    }

/* Styles des titres */
h1, h2, h5 {
    color: #0056b3; /* Accentuez les titres avec une couleur forte */
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

/* Styles de la section "À propos" */
.about-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.about-title {
    font-size: 3rem;
    text-align: center;
    color: #0056b3;
    margin-bottom: 40px;
}

.about-text {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 30px;
}

/* Styles de la liste */
.container ul {
    list-style-type: none;
    padding-left: 0;
}

    .container ul li {
        background-color: #e7f0fa;
        margin: 10px 0;
        padding: 15px;
        border-left: 5px solid #0056b3;
        border-radius: 5px;
        font-size: 1.1rem;
    }

        .container ul li strong {
            color: #0056b3;
        }


/* Styles pour les sources */
.source-container {
    display: flex;
    align-items: center;
    background-color: #f4f7f6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.source-logo {
    width: 60px;
    height: auto;
    border-radius: 50%; /* Bordures arrondies */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.source-info {
    flex: 1;
}

h6 {
    font-size: 1.3rem;
    color: #0056b3;
    margin-bottom: 5px;
}

.source-info p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0;
}

/* Médias Responsifs pour petits écrans */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .about-container {
        padding: 20px;
    }

    .source-container {
        flex-direction: column;
        text-align: center;
    }

    .source-logo {
        margin-bottom: 15px;
    }
}

/* Ajustement pour la barre de navigation sur mobile */
@media (max-width: 576px) {
    .navbar-collapse {
        background-color: #f8f9fa;
    }

    .navbar-nav .nav-item .nav-link {
        text-align: center;
        border-bottom: 1px solid #dee2e6;
    }
}
