@using Hygie.Model;

@model Quiz;

@{
    ViewData["Title"] = "Home Page";
    int i = 0;
}

<div class="text-center">

    <div class="contentQuiz">
        <div class="question">
            <h2>@Model.Questions[i].Intitule</h2>
            <div class="reponses">
                @foreach (var reponse in Model.Questions[i].Reponses)
                {
                    <div class="reponse">
                        <p>@reponse.Contenu</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
